@use './utils.scss';

// 清除浮动
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.leayer{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--both-sides-padding);
  @include utils.mediaOversized{
    max-width: 80%;
  }
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 模块儿之前的间隙
.module-gap{
  margin-top: 32px;
}
