@use './utils.scss';

:root{
  --main-bg-color: #fff;
  --mark-bg-color: #F5F7FA;
  --main-font-color: #404040;
  --mark-font-color: #999;
  --link-font-color: #0069c2;
  --link-active-bg-color: #ece3ff;
  --line-color: #eee;

  --header-height: 60px;
  --footer-height: 100px;

  --both-sides-padding: 20px;

  --scrollbar-width: 6px;
  --scrollbar-color: #ddd;

  @include utils.mediaSmall() {
    --both-sides-padding: 10px;
  }
}
@include utils.themeDark() {
  --main-bg-color: #1a1a1a;
  --main-font-color: #dadada;
  --mark-bg-color: #0e2a35;
  --link-font-color: #8cb4ff;
  --link-active-bg-color: #332a46;
  --line-color: #333;
}

html{
  font-size: 14px;
  color: var(--main-font-color);
  font-family: "Arial";
  @include utils.mediaSmall{
    font-size: 18px;
  }
}
body{
  background: var(--main-bg-color);
}
body, ul, h1, h2, h3, h4, h5, h6, p, pre{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--link-font-color);
}
input{
  outline: none;
}
input, button {
  appearance: none;
  border-radius: 0;
}

::-webkit-scrollbar{
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb{
  background: var(--scrollbar-color);
  border-radius: calc(var(--scrollbar-width) / 2);
}
::-webkit-scrollbar-track{
  background: var(--mark-bg-color);
}
@include utils.themeDark{
  --scrollbar-color: #888;
}

@include utils.mediaMiddle() {
  /* 移动端 a 标签点击时有默认阴影 */
  li, a, input, button {
    -webkit-tap-highlight-color: transparent;
  }
}
